$red_music : red;
$red_susan : rgba(179, 6, 6, 0.755);
.user-d{
    list-style: none;
}

.welcome-note{
    color: rgb(193, 255, 127);
}

.sbtn{
    background-color: $red_music;
    color: azure;
    font-weight: bold;
    &:hover{
        background-color: $red_susan;
    }
}

.patient-form{
    margin: 2rem 33rem 2rem 3rem;
    label{
        color: $red_susan;
    }
}
